
// Heights

$s-height-top-bar: 80px
$s-height-footer: 80px
$s-height-container: calc(100vh - $s-height-top-bar - $s-height-footer)

// Border radius

$s-border-radius-main: 6px
$s-border-radius-round: 16px
$s-border-radius-extra-round: 32px

// Font

$s-font-header: 32px
$s-font-title: 24px
$s-font-description: 16px
$s-font-small: 12px

// Font weight

$s-weight-bold: 700