@import "../../style/variables/variables"

.movie-section
  width: 100%

  +mdm
    padding: 0 200px
    box-sizing: border-box

  &__card-wrapper
    +flex-center-center
    position: relative
    width: 100%
    height: 400px

    +mdm
      height: 600px

  &__summary-wrapper
    margin-bottom: 20px

    h3
      margin-bottom: 20px